<div  class="card border boxshadow itsHeigh">
    <a [routerLink]="['/details',product.id]" class="text-decoration-none">
        <div>
            <img class="w-100 image-fluid d-block mx-auto" [src]="product.images" alt="image">
            <div class="card-body">
                <p class="text-info  fw-bold">{{product.title}}</p>
                <p class="text-primary  fw-bold">{{product.category.name}}</p>
                <p class="text-danger fw-bold">{{product.price | currency }}</p>
            </div>
        </div>
    </a>
    <a class="m-2 fs-3 text-decoration-none" #ref (click)="addToWish(ref,product.images,product.title,product.id)"><i class="fa-solid fa-star"></i></a>
    <button class="btn btn-danger text-dark text-center p-2 mb-2 w-100 fw-bold" (click)="addcart(product)">Add to Cart</button>
</div>

