<a [routerLink]="['/details',product.id]" class="text-decoration-none">
    <div class="card border border-info p-2">
        <img class="w-75 image-fluid d-block mx-auto py-3" [src]="product.image" alt="image">
        <div class="card-body">
            <p class="text-info my-3 fw-bold">{{product.title}}</p>
            <p class="text-primary my-3 fw-bold">{{product.category}}</p>
            <p class="text-danger my-3 fw-bold">{{product.price | currency }}</p>
            <button class="btn btn-outline-danger text-dark text-center w-50 d-block py-3 mx-auto fw-bold">Add to Cart</button>
        </div>
    </div>
</a>

